.details {
    margin-top: 40px;
}

.details-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card-btn {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.edit-btn {
    background-color: rgb(53, 230, 53);
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.delete-btn {
    background-color: rgb(230, 53, 53);
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}
.my-photos .my-photo-img{
    
    max-width: fit-content;
    max-height:min-content;
    object-fit: cover;
    width: 1080px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
    margin: 40px;
    -webkit-box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.75);
}