/* Nav bar */
.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 3px solid rgb(172, 167, 167);
    border-top: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-bottom: 10px;
}

.nav-bar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.welcome {
    color: rgb(121, 121, 121);
}

.home {
    padding-left: 20px;
    border-radius: 50px;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    padding-right: 10px;

}

.nav-bar a {
    text-decoration: none;
    color: rgb(121, 121, 121);
}

.nav-bar a:hover {
    text-shadow: 0px 0px 8px rgba(82, 77, 77, 0.88);
}

.nav-bar a:focus {
    text-shadow: 0px 0px 8px rgba(82, 77, 77, 0.88);

}