@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oleo+Script+Swash+Caps&display=swap');
@import "navBar.css";
@import "home.css";
@import "loginForm.css";
@import "registerForm.css";
@import "myPhotos.css";
@import "create.css";
@import "details.css";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(312deg, rgba(2,0,36,1) 0%, rgba(41,233,86,1) 0%, rgba(203,203,205,1) 61%);
}
